/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/02/2021, 12:04:52 PM
    Author     : moises
*/

.archivo #enviar_nuevo_archivo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

.archivo td.details-control {
    background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

.archivo tr.details td.details-control {
    background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
}

#tablaArchivos{
    width: 100%;
}

#tablaArchivos table{
    text-align: left !important;
}

#loaderArchivos{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#tablaArchivos .seleccionar-archivo{
    cursor: pointer;
}

#tablaArchivos tr.selected{
    background-color: #0097a9 !important;
    color: #fff;
}

#tablaArchivos tr.selected button,
#tablaArchivos tr.selected a{
    color: #fff;
}

#eliminarArchivos,
#refrescarArchivos{
    position: absolute;
    top: 0;
    right: 10px;
}

#refrescarArchivos{
    right: 50px;
}