/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/02/2021, 12:04:52 PM
    Author     : moises
*/
.archivo{
    overflow: hidden;
}

#padreArchivosVistaArchivos,
#padreArchivosVistaCorreo{
    display: none;
}

.archivo .tituloModuloArchivos{
    margin-bottom: 0;
}

.archivo .contenedorTiposVista{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    right: 0;
    height: 100%;
}

.archivo .contenedorTiposVista label{
    font-size: 18px;
}

.archivo #enviar_nuevo_archivo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

.archivo #nuevo_envio_archivo{
    border-radius: 15px;
    display: none;
    border: solid 1px #d3d3d3;
    overflow: auto;
    height: 100%;
    padding-bottom: 10rem !important;
}

.archivo td.details-control {
    background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

.archivo tr.details td.details-control {
    background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
}

#tablaArchivos{
    width: 100%;
}

#tablaArchivos table{
    text-align: left !important;
}

#loaderArchivos{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#tablaArchivos .seleccionar-archivo{
    cursor: pointer;
}

#tablaArchivos tr.selected{
    background-color: #0097a9 !important;
    color: #fff;
}

#tablaArchivos tr.selected button,
#tablaArchivos tr.selected a{
    color: #fff;
}

#eliminarArchivos,
#refrescarArchivos{
    position: absolute;
    top: 0;
    right: 10px;
}

#refrescarArchivos{
    right: 50px;
}

#remitenteVistaCorreos,
#destinatarioVistaCorreos{
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
}

/* ESTILOS VISTA DE CORREOS */

#archivosVistaCorreo .listadoDeProyectos,
#archivosVistaCorreo .listadoDeArchivos,
#archivosVistaCorreo .detalleArchivo{
    overflow: auto;
    padding-bottom: 10rem !important;
}

#archivosVistaCorreo{
    display: grid;
    grid-template-columns: 0.3fr 0.5fr 1fr;
}

.formulario-lista{
    max-height: 200px;
    overflow: auto;
    border-bottom: 1px solid lightgray;
}

.formulario-lista label {
    display: block;
    cursor: pointer;
    color: #6e7479;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.formulario-lista label:hover {
    background: rgba(0, 116, 217, 0.1);
}
.formulario-lista label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 3px solid #6e7479;
}
.formulario-lista input[type="radio"] {
    display: none;
}
.formulario-lista input[type="radio"]:checked + label:before {
    display: none;
}
.formulario-lista input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: #0097a9;
    border-radius: 2px;
    color: #fff;
}

#archivosVistaCorreo .listadoDeProyectos{
    padding: 5px;
    border-right: 1px solid lightgray;
}

#archivosVistaCorreo .listadoDeArchivos{
    padding: 5px 10px;
    border-right: 1px solid lightgray;
}

#archivosVistaCorreo .listadoDeArchivos .itemArchivo{
    position: relative;
    padding: 20px 5px;
    cursor: pointer;
    border: 0.5px solid lightgray;
}

#archivosVistaCorreo .listadoDeArchivos .itemArchivo .remitenteArchivo,
#archivosVistaCorreo .listadoDeArchivos .itemArchivo .asunto{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#archivosVistaCorreo .listadoDeArchivos .itemArchivo:hover,
#archivosVistaCorreo .listadoDeArchivos .itemArchivo:nth-child(even){
    background-color: rgba(0,0,0,0.1);
}

#archivosVistaCorreo .listadoDeArchivos .itemArchivo:nth-child(even):hover{
    background-color: rgba(0,0,0,0.2);
}

#archivosVistaCorreo .listadoDeArchivos .itemArchivo .controlesItemArchivo{
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

#archivosVistaCorreo .listadoDeArchivos .itemArchivo .fechaArchivo{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#archivosVistaCorreo .listadoDeArchivos .sinResultados{
    text-align: center;
    padding: 5px;
    font-family: cursive;
    font-size: 1.1rem;
    background-color: lightgrey;
    border-radius: 30px;
    margin: 20px;
    text-transform: capitalize;
}

.detalleArchivo .krajee-default.file-preview-frame .file-thumbnail-footer{
    height: auto !important;
}

.detalleArchivo .file-drop-zone{
    min-height: 0;
}

.detalleArchivo .file-actions,
.detalleArchivo .file-upload-indicator{
    display: none !important;
}

.detalleArchivo .file-footer-caption{
    margin-bottom: 0 !important;
}

.detalleArchivo .contenedorRespuestas .card-header{
    border: 0.5px solid lightgray !important;
    background-color: #fff;
    display: grid;
    grid-template-columns: 30px 1fr 200px;
    color: black;
    align-items: center;
    grid-gap: 10px;
    cursor: pointer;
}

.detalleArchivo .contenedorRespuestas .card-body{
    background-color: #fff;
    color: #000;
}

.detalleArchivo .contenedorRespuestas .card-header img{
    max-height: 30px;
    border-radius: 50%;
}

.detalleArchivo .contenedorRespuestas .card-header:hover,
.detalleArchivo .contenedorRespuestas .card-header:nth-child(even){
    background-color: rgba(0,0,0,0.1);
}

.detalleArchivo .contenedorRespuestas .card-header:nth-child(even):hover{
    background-color: rgba(0,0,0,0.2);
}

.archivo .dataItemArchivo{
    display: grid;
    grid-template-columns: 1fr 20px;
}

.archivo .dataItemArchivo .cantidadRespuestasArchivo{
    text-align: center;
    padding-top: 10px;
}

.archivo .dataItemArchivo .cantidadRespuestasArchivo span{
    font-size: 1.2rem;
    border: 1px solid #0097a9;
    padding: 5px;
    border-radius: 50%;
    color: #0097a9;
}

.archivo .correoNuevo{
    background-color: rgba(0,0,0,0.2);
}