/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/11/2020, 10:31:42 AM
    Author     : moises
*/
.comunicacion .carousel-inner img {
    width: 100%;
    height: 100%;
}

/* The Modal (background) */
.comunicacion .modal {
    display:none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.comunicacion .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    /*width: 45%;*/width: 80%;
    height: 80%;
    /**/
    /*top: 20%;*/
}

/*Frame*/
.comunicacion .frame{
    margin: auto;
    padding: 5px;
    border: 1px solid #888;
    width: -webkit-calc(100% - 40px);
    width:    -moz-calc(100% - 40px);
    width:         calc(100% - 40px);
    height: -webkit-calc(100% - 80px);
    height:    -moz-calc(100% - 80px);
    height:         calc(100% - 80px);
}

/* The Close Button */
.comunicacion .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.comunicacion .close:hover,
.comunicacion .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.comunicacion .OT_publisher .OT_mute{
    display: block !important;
}

.comunicacion .spin-comunicacion{
    position: absolute;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.comunicacion  .option__image {
    width: 60px;
    border-radius: 10px;
}
.comunicacion .option__title {
    font: bold 1rem Arial;
    padding: 10px;
}


.comunicacion #frame {
    width: 100%;
    height: 100%;
    background: #E6EAEA;
}
@media screen and (max-width: 360px) {
    .comunicacion #frame {
        width: 100%;
        height: 100vh;
    }
}
.comunicacion #frame #sidepanel {
    float: left;
    /*min-width: 280px;*/
    max-width: 340px;
    width: 40%;
    height: 100%;
    background: #40474f;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel {
        width: 58px;
        min-width: 58px;
    }
}
.comunicacion #frame #sidepanel #profile {
    width: 80%;
    margin: 25px auto;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #profile {
        width: 100%;
        margin: 0 auto;
        padding: 5px 0 0 0;
        background: #32465a;
    }
}
.comunicacion #frame #sidepanel #profile.expanded .wrap {
    height: 210px;
    line-height: initial;
}
.comunicacion #frame #sidepanel #profile.expanded .wrap p {
    margin-top: 20px;
}
.comunicacion #frame #sidepanel #profile.expanded .wrap i.expand-button {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.comunicacion #frame #sidepanel #profile .wrap {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
    position: relative;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #profile .wrap {
        height: 55px;
    }
}
.comunicacion #frame #sidepanel #profile .wrap .img {
    width: 50px;
    border-radius: 50%;
    padding: 3px;
    /*border: 2px solid #e74c3c;*/
    height: auto;
    float: left;
    cursor: pointer;
    -moz-transition: 0.3s border ease;
    -o-transition: 0.3s border ease;
    -webkit-transition: 0.3s border ease;
    transition: 0.3s border ease;
    width: 46px;
    height: 46px;
}
.comunicacion #frame #sidepanel #profile .wrap .cont-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #profile .wrap .img {
        width: 40px;
        margin-left: 4px;
    }
}
.comunicacion #frame #sidepanel #profile .wrap .cont-img.online {
    border: 2px solid #2ecc71;
}
.comunicacion #frame #sidepanel #profile .wrap .cont-img.away {
    border: 2px solid #f1c40f;
}
.comunicacion #frame #sidepanel #profile .wrap .cont-img.busy {
    border: 2px solid #e74c3c;
}
.comunicacion #frame #sidepanel #profile .wrap .cont-img.offline {
    border: 2px solid #95a5a6;
}
.comunicacion #frame #sidepanel #profile .wrap p {
    float: left;
    margin-left: 15px;
    width: calc(100% - 60px);
    right: 0;
    float: right;
    position: absolute;
    margin: 0;
    top: 13px;
    font: bold 1rem Arial;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #profile .wrap p {
        display: none;
    }
}
.comunicacion #frame #sidepanel #profile .wrap i.expand-button {
    float: right;
    margin-top: 23px;
    font-size: 0.8em;
    cursor: pointer;
    color: #435f7a;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #profile .wrap i.expand-button {
        display: none;
    }
}
.comunicacion #frame #sidepanel #profile .wrap #status-options {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 150px;
    margin: 70px 0 0 0;
    border-radius: 6px;
    z-index: 99;
    line-height: initial;
    background: #435f7a;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #profile .wrap #status-options {
        width: 58px;
        margin-top: 57px;
    }
}
.comunicacion #frame #sidepanel #profile .wrap #status-options.active {
    opacity: 1;
    visibility: visible;
    margin: 15px 0 0 0;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #profile .wrap #status-options.active {
        margin-top: 62px;
    }
}
.comunicacion #frame #sidepanel #profile .wrap #status-options:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #435f7a;
    margin: -8px 0 0 24px;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #profile .wrap #status-options:before {
        margin-left: 23px;
    }
}
.comunicacion #frame #sidepanel #profile .wrap #status-options ul {
    overflow: hidden;
    border-radius: 6px;
}
.comunicacion #frame #sidepanel #profile .wrap #status-options ul li {
    padding: 15px 0 30px 18px;
    display: block;
    cursor: pointer;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #profile .wrap #status-options ul li {
        padding: 15px 0 35px 22px;
    }
}
.comunicacion #frame #sidepanel #profile .wrap #status-options ul li:hover {
    background: #496886;
}
.comunicacion #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
        width: 14px;
        height: 14px;
    }
}
.comunicacion #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    margin: -3px 0 0 -3px;
    background: transparent;
    border-radius: 50%;
    z-index: 0;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
        height: 18px;
        width: 18px;
    }
}
.comunicacion #frame #sidepanel #profile .wrap #status-options ul li p {
    padding-left: 12px;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #profile .wrap #status-options ul li p {
        display: none;
    }
}
.comunicacion #frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
    background: #2ecc71;
}
.comunicacion #frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
    border: 1px solid #2ecc71;
}
.comunicacion #frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
    background: #f1c40f;
}
.comunicacion #frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
    border: 1px solid #f1c40f;
}
.comunicacion #frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
    background: #e74c3c;
}
.comunicacion #frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
    border: 1px solid #e74c3c;
}
.comunicacion #frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
    background: #95a5a6;
}
.comunicacion #frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
    border: 1px solid #95a5a6;
}
.comunicacion #frame #sidepanel #profile .wrap #expanded {
    padding: 100px 0 0 0;
    display: block;
    line-height: initial !important;
}
.comunicacion #frame #sidepanel #profile .wrap #expanded label {
    float: left;
    clear: both;
    margin: 0 8px 5px 0;
    padding: 5px 0;
}
.comunicacion #frame #sidepanel #profile .wrap #expanded input {
    border: none;
    margin-bottom: 6px;
    background: #32465a;
    border-radius: 3px;
    color: #f5f5f5;
    padding: 7px;
    width: calc(100% - 43px);
}
.comunicacion #frame #sidepanel #profile .wrap #expanded input:focus {
    outline: none;
    background: #435f7a;
}
.comunicacion #frame #sidepanel #search {
    border-top: 1px solid #32465a;
    border-bottom: 1px solid #32465a;
    font-weight: 300;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #search {
        display: none;
    }
}
.comunicacion #frame #sidepanel #search label {
    position: absolute;
    margin: 10px 0 0 20px;
}
.comunicacion #frame #sidepanel #search input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    padding: 10px 0 10px 46px;
    width: calc(100% - 25px);
    border: none;
    background: #32465a;
    color: #f5f5f5;
}
.comunicacion #frame #sidepanel #search input:focus {
    outline: none;
    background: #435f7a;
}
.comunicacion #frame #sidepanel #search input::-webkit-input-placeholder {
    color: #f5f5f5;
}
.comunicacion #frame #sidepanel #search input::-moz-placeholder {
    color: #f5f5f5;
}
.comunicacion #frame #sidepanel #search input:-ms-input-placeholder {
    color: #f5f5f5;
}
.comunicacion #frame #sidepanel #search input:-moz-placeholder {
    color: #f5f5f5;
}

.comunicacion #frame #sidepanel #panelContactos,
.comunicacion #frame #sidepanel #contacts,
.comunicacion #frame #sidepanel #panelMensajesDestacados{
    height: calc(100% - 177px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.comunicacion #frame #sidepanel #panelMensajesDestacados{
    display: none;
}

.comunicacion #panelMensajesDestacados .botoneraMensjaesDestacados{
    padding: 10px;
}

.comunicacion #panelMensajesDestacados #eliminarTodosLosMensajesDestacados{
    float: right;
}

@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #contacts,
    .comunicacion #frame #sidepanel #panelMensajesDestacados{
        height: calc(100% - 149px);
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .comunicacion #frame #sidepanel #contacts::-webkit-scrollbar,
    .comunicacion #frame #sidepanel #panelMensajesDestacados::-webkit-scrollbar{
        display: none;
    }
}
.comunicacion #frame #sidepanel #contacts.expanded,
.comunicacion #frame #sidepanel #panelMensajesDestacados.expanded{
    height: calc(100% - 334px);
}
.comunicacion #frame #sidepanel #contacts::-webkit-scrollbar,
.comunicacion #frame #sidepanel #panelMensajesDestacados::-webkit-scrollbar{
    width: 8px;
    background: #2c3e50;
}
.comunicacion #frame #sidepanel #contacts::-webkit-scrollbar-thumb,
.comunicacion #frame #sidepanel #panelMensajesDestacados::-webkit-scrollbar-thumb{
    background-color: #243140;
}
.comunicacion #frame #sidepanel #contacts ul li.contact,
.comunicacion #panelMensajesDestacados ul li.mensajeDestacado{
    position: relative;
    padding: 10px 0 15px 0;
    font-size: 0.9em;
    list-style: none;
    cursor: pointer;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #contacts ul li.contact {
        padding: 6px 0 46px 8px;
    }
}
.comunicacion #frame #sidepanel #contacts ul li.contact:hover,
.comunicacion #panelMensajesDestacados ul li.mensajeDestacado:hover {
    background: #32465a;
}
.comunicacion #frame #sidepanel #contacts ul li.contact.active {
    background: #32465a;
    border-right: 5px solid #435f7a;
}
.comunicacion #frame #sidepanel #contacts ul li.contact.active span.contact-status {
    border: 2px solid #32465a !important;
}
.comunicacion #frame #sidepanel #contacts ul li.contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #contacts ul li.contact .wrap {
        width: 100%;
    }
}
.comunicacion #frame #sidepanel #contacts ul li.contact .wrap span {
    position: absolute;
    left: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    background: #95a5a6;
}
.comunicacion #frame #sidepanel #contacts ul li.contact .wrap span.online {
    background: #2ecc71;
}
.comunicacion #frame #sidepanel #contacts ul li.contact .wrap span.away {
    background: #f1c40f;
}
.comunicacion #frame #sidepanel #contacts ul li.contact .wrap span.busy {
    background: #e74c3c;
}
.comunicacion #frame #sidepanel #contacts ul li.contact .wrap .img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    height: 40px;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #contacts ul li.contact .wrap .img {
        margin-right: 0px;
    }
}
.comunicacion #frame #sidepanel #contacts ul li.contact .wrap .meta {
    padding: 5px 0 0 0;
    position: relative;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #contacts ul li.contact .wrap .meta {
        display: none;
    }
}
.comunicacion #frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
}
.comunicacion #frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}
.comunicacion #frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
    position: initial;
    border-radius: initial;
    background: none;
    border: none;
    padding: 0 2px 0 0;
    margin: 0 0 0 1px;
    opacity: .5;
}
.comunicacion #frame #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.comunicacion #frame #sidepanel .botoneraComunicacion{
    position: absolute;
    top: 5px;
    right: 5px;
}

.comunicacion #frame #sidepanel .botoneraComunicacion button,
.comunicacion #panelMensajesDestacados .botoneraMensjaesDestacados button{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
    color: white;
}

.comunicacion #frame #sidepanel #bottom-bar button {
    float: left;
    border: none;
    width: 33.33%;
    padding: 10px 0;
    background: #363c42;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #bottom-bar button {
        float: none;
        width: 100%;
        padding: 15px 0;
    }
}
.comunicacion #frame #sidepanel #bottom-bar button:focus {
    outline: none;
}
.comunicacion #frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: 1px solid #2c3e50;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #bottom-bar button:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid #2c3e50;
    }
}
.comunicacion #frame #sidepanel #bottom-bar button:hover {
    background: #435f7a;
}
.comunicacion #frame #sidepanel #bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #bottom-bar button i {
        font-size: 1.3em;
    }
}
@media screen and (max-width: 735px) {
    .comunicacion #frame #sidepanel #bottom-bar button span {
        display: none;
    }
}
.comunicacion #frame .content {
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame .content {
        width: calc(100% - 58px);
        min-width: 300px !important;
    }
}
@media screen and (min-width: 900px) {
    .comunicacion #frame .content {
        width: calc(100% - 340px);
    }
}
.comunicacion #frame .content .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
}
.comunicacion #frame .content .contact-profile .img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
}
.comunicacion #frame .content .contact-profile p {
    float: left;
    color: black;
    font: bold 1rem Arial;
    margin: 20px;
    cursor: pointer;
}
.comunicacion #frame .content .contact-profile .social-media {
    float: right;
}
.comunicacion #frame .content .contact-profile .social-media i {
    margin-left: 14px;
    cursor: pointer;
}
.comunicacion #frame .content .contact-profile .social-media i:nth-last-child(1) {
    margin-right: 20px;
}
.comunicacion #frame .content .contact-profile .social-media i:hover {
    color: #435f7a;
}
.comunicacion #frame .content .messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 30px 0 0;
    padding-top: 20px;
    position: relative;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame .content .messages {
        max-height: calc(100% - 105px);
    }
}
.comunicacion #frame .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
.comunicacion #frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}
.comunicacion #frame .content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 5px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
    padding: 0;
}
.comunicacion #frame .content .messages ul li.respondida{
    background-color: rgba(0,0,0,0.1);
}
.comunicacion #frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px !important;
}
.comunicacion #frame .content .messages ul li.send .img {
    margin: 6px 8px 0 0;
}
#frame .content .messages ul li.send p {
    background: #0f97a9;
    color: #f5f5f5;
    float: left;
    position: relative;
    padding-right: 30px;
    padding-left: 30px;
}
.comunicacion #frame .content .messages ul li.replies .img {
    float: right;
    margin: 6px 0 0 8px;
}
.comunicacion #frame .content .messages ul li.replies p {
    background: #f5f5f5;
    float: right;
    color: #434343;
    position: relative;
    padding-left: 30px;
    margin: 10px 0;
}
.comunicacion #frame .content .messages ul li .img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    float: left;
}
.comunicacion #frame .content .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    padding-top: 20px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
}
@media screen and (min-width: 735px) {
   .comunicacion  #frame .content .messages ul li p {
        max-width: 300px;
    }
}
.comunicacion #frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}
.comunicacion #frame .content .message-input .wrap {
    position: relative;
}
.comunicacion #frame .content .message-input .wrap input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: 100%;
    padding: 11px 32px 10px 8px;
    font-size: 0.8em;
    color: #32465a;
    height: 100%;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame .content .message-input .wrap input {
        padding: 15px 32px 16px 8px;
    }
}
.comunicacion #frame .content .message-input .wrap input:focus {
    outline: none;
}
.comunicacion #frame .content .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame .content .message-input .wrap .attachment {
        margin-top: 17px;
        right: 65px;
    }
}
.comunicacion #frame .content .message-input .wrap .attachment:hover {
    opacity: 1;
}
.comunicacion #frame .content .message-input .wrap button {
    float: right;
    border: none;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
    border-radius: 0;
}
@media screen and (max-width: 735px) {
    .comunicacion #frame .content .message-input .wrap button {
        padding: 16px 0;
    }
}
.comunicacion #frame .content .message-input .wrap button:hover {
    background: #435f7a;
}
.comunicacion #frame .content .message-input .wrap button:focus {
    outline: none;
}

.comunicacion .multiselect__tags {
    max-height: 150px;
    overflow-y: scroll;
    background: none;
    border: none;
    padding: 12px 35px 0 5px;
    padding-left: 35px;
}
.comunicacion .multiselect__single {
    background: none;
    /* color: #ffffff; */
    font: bold 12px arial;
}
.comunicacion #frame #sidepanel #search input:focus {
    padding: 0;
    margin: 0;
    outline: none;
    background: none;
}
.comunicacion .option__image {
    width: 45px;
    border-radius: 11px;
}
.comunicacion .option__title {
    font: bold 1rem Arial;
    padding: 10px;
    color: white;
}
.comunicacion .multiselect__content-wrapper {
    position: absolute;
    display: block;
    background: #343a40;
    width: 100%;
    max-height: 240px;
    overflow: auto;
    /* border: 1px solid #e8e8e8; */
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
}


.comunicacion #guardando_documentacion{
    z-index: 9999999;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.comunicacion #mensaje_guardando_documentacion{
    background-color: white;
    width: 50%;
    padding: 20px 100px;
    text-align: center;
    font-size: 1.3rem;
}

.comunicacion .contenedor-cargando-chat{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,.5);;
    display: flex;
    justify-content: center;
}

/*
MENSAJE FECHA Y HORA
*/

.comunicacion .replies span.time,
.comunicacion .send span.time{
    display: block;
    font-size: 0.8rem;
    text-align: right;
    font-style: italic;
    color: dimgrey;
    margin-top: 3px;
}

.comunicacion .send span.time{
    text-align: left;
    color: aliceblue;
}

/*
CARGAR MáS MENSAJES
*/

.comunicacion .liMasMensajes{
    color: black;
    padding-top: 20px;
}

.comunicacion .spanMasMensajes{
    background-color: linen;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
}

.comunicacion .iconMasMensajes{
    margin-right: 5px;
}

/*
CONTROLES ENVIAR MENSAJE
*/

.comunicacion #message_contacts .btn-enviarMensajeChat,
.comunicacion #message_contacts .btn-realizarLlamadaChat{
    height: 100%;
    font-size: 1.6rem;
    color: #fff;
}

.comunicacion #message_contacts .btn-enviarMensajeChat:hover,
.comunicacion #message_contacts .btn-realizarLlamadaChat:hover{
    background-color: #fff;
    color: #000;
}

.comunicacion #message_contacts .controlesChat{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transition: all 2s ease-in-out;
    background: #32465a;
    display: none;
    z-index: 1;
}

/*
ESTILOS LLAMADA
*/

.comunicacion #content_call #contenedor-p-c{
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr;
}

.comunicacion #contenedor-llamada{
    display: grid;
    height: 100%;
    grid-template-rows: 1.5fr 0.5fr;
}

.comunicacion span.iconOpciones{
    position: absolute;
    top: 5px;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.5s ease-out;
}

.comunicacion .replies span.iconoDestacado{
    right: 15px;
}

.comunicacion .send span.iconoDestacado{
    left: 15px;
}

.comunicacion span.iconOpciones{
    position: absolute;
    top: 5px;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.5s ease-out;
    display: none;
    cursor: pointer;
}

.comunicacion .send span.iconOpciones{
    color: #fff;
}

.comunicacion ul.menuOpcionesMensaje{
    position: absolute;
    background-color: #40474f;
    top: 0;
    z-index: 9;
    list-style: none;
    text-align: right;
    border-radius: 10%;
    overflow: hidden;
    display: block;
    color: #f5f5f5;
    padding: 0;
    height: 0;
    transition: height 0.5s ease-in-out;
}

.comunicacion ul.menuOpcionesMensaje.conAltura{
    height: auto;
}

.comunicacion .send ul.menuOpcionesMensaje{
    right: -150px;
    text-align: left;
}

.comunicacion .replies ul.menuOpcionesMensaje{
    left: -150px;
    text-align: right;
}

.comunicacion ul.menuOpcionesMensaje li.opcionMensaje{
    display: block !important;
    cursor: pointer;
    width: 100% !important;
    margin: 0 !important;
    position: relative;
    list-style: none;
    padding: 15px !important;
}

.comunicacion ul.menuOpcionesMensaje li.opcionMensaje:hover{
    background: rgba(0,0,0,0.5);
}

.comunicacion #frame .content .messages ul li.send span.iconOpciones{
    right: 15px;
}

.comunicacion #frame .content .messages ul li.replies span.iconOpciones{
    left: 15px;
}

.comunicacion #frame .content .messages ul li.send p:hover ~ span.iconOpciones,
.comunicacion #frame .content .messages ul li.replies p:hover ~ span.iconOpciones{
    display: block;
}

.comunicacion #content_call .GRIDcontainer{
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0 !important;
    top: 0 !important;
    overflow: scroll;
    border: solid 1px white;
    border-radius: 5px;
    background-color: black;
}

.comunicacion .containerCardsParticipantes{
    height: calc(100%);
    left: 0 !important;
    top: 0;
    position: absolute;
    width: 100%;
    overflow: scroll;
}

.comunicacion #content_call .containerCardsParticipantes .card-body{
    display: flex;
    align-items: center;
}

.comunicacion #content_call .containerCardsParticipantes .card-title{
    color: white;
    font-size: 1.2rem;
    padding: 0;
}

.comunicacion #content_call .content {
    text-align: center;
    color:white;
}

.comunicacion .swal2-header{
    background-color: #40474f;
}

.comunicacion .menu_chat{
    position: absolute;
    background: #40474f;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    text-align: left;
    transition: all 3s ease-in-out;
    z-index: 999;
}

.comunicacion .menu_chat.desplegado{
    display: block;
}

.comunicacion .menu_chat .opcion_menu_chat{
    padding: 10px;
    cursor: pointer;
}

.comunicacion .menu_chat .opcion_menu_chat:hover{
    background-color: rgba(0,0,0,0.5);
}

.comunicacion small.respuesta-mensaje{
    color: white;
    display: block;
    padding: 5px;
    background-color: rgba(64,71,79,0.5);
    border-radius: 10px;
    border-left: 3px solid #40474f;
    margin-bottom: 7px;
    max-height: 35px;
    overflow-y: hidden;
    cursor: pointer;
}

.comunicacion .mensajeSistema{
    color: brown;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.comunicacion .nombreUsuarioGrupo{
    cursor: pointer;
    display: block;
    margin-bottom: 7px;
    text-align: left;
}

.comunicacion div.mensajesNoLeidos{
    position: absolute;
    height: 100%;
    display: flex;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

.comunicacion div.mensajesNoLeidos span.cantidadMensajesNoLeidos{
    font-size: 1rem !important;
    width: 1.7rem !important;
    height: 1.5rem !important;
    position: relative !important;
    margin: 0 !important;
    background-color: #2ecc71 !important;
    border: none !important;
    color: #363c42 !important;
    font-family: sans-serif !important;
    padding: 3px 0;
}

.comunicacion div.contenedor-drag-drop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTENEDOR DE EMOJIS */

.comunicacion .fg-emoji-picker {
    /* position: fixed; */
    position: absolute;
    z-index: 999;
    width: 300px;
    min-height: 360px;
    background-color: white;
    box-shadow: 0px 2px 13px -2px rgba(0, 0, 0, 0.1803921568627451);
    border-radius: 4px;
    overflow: hidden;
}

.comunicacion .fg-emoji-picker .fg-emoji-picker-all-categories {
    height: 301px;
    overflow-y: auto;
    padding: 0 15px 15px 15px;
}

.comunicacion .fg-emoji-picker .fg-emoji-picker-container-title {
    color: black;
    margin: 10px 0;
}

.comunicacion .fg-emoji-picker * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #666;
    font-family: sans-serif;
}

.comunicacion .fg-emoji-picker ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comunicacion .fg-emoji-picker .fg-emoji-picker-category {
    margin-top: 1px;
    padding-top: 15px;
}

.comunicacion .fg-emoji-picker-grid {
    display: flex;
    flex-wrap: wrap;
}

.comunicacion .fg-emoji-picker-grid > li {
    cursor: pointer;
    flex: 0 0 calc(100% / 5);
    max-width: calc(100% / 5);
    height: 48px;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
    background-color: white;
}

.comunicacion .fg-emoji-picker-grid > li:hover {
    background-color: #99c9ef;
}

.comunicacion .fg-emoji-picker-grid > li > a {
    display: block;
    font-size: 25px;
    margin: 0;
    padding: 25px 0px;
    line-height: 0;
}

/* FILTERS */
.comunicacion .fg-emoji-picker-categories {
    /*padding: 0 15px;*/
    background: #ececec;
}

.comunicacion .fg-emoji-picker-categories ul {
    display: flex;
    flex-wrap: wrap;
}

.comunicacion .fg-emoji-picker-categories li {
    flex: 1;
}

.comunicacion .fg-emoji-picker-categories li.active {
    background-color: #99c9ef;
}

.comunicacion .fg-emoji-picker-categories a {
    padding: 12px 7px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
}

.comunicacion .fg-emoji-picker-categories a:hover {
    background-color: #99c9ef;
}

.comunicacion .fg-emoji-picker-search {
    position: relative;
    height: 25px;
}

.comunicacion .fg-emoji-picker-search input {
    position: absolute;
    width: 85%;
    left: 0;
    top: 0;
    border: none;
    padding: 5px 30px 5px 15px;
    outline: none;
    background-color: #dedede;
    font-size: 12px;
    color: #616161;
}

.comunicacion .fg-emoji-picker-search svg {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 7px;
    top: 5px;
    fill: #333333;
    pointer-events: none;
}


/* FOOTER */
.comunicacion .fg-emoji-picker-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;
    padding: 0 15px 15px 15px;
}

.comunicacion .fg-emoji-picker-footer-icon {
    font-size: 30px;
    margin-right: 8px;
}

/* SOLO FAVORITOS */
.comunicacion #filtrarFavoritos{
    border-bottom: 1px solid;
}

.comunicacion #filtrarFavoritos label{
    width: 90%;
    display: block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    /*background: darkcyan;*/
    margin: auto;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.comunicacion #filtrarFavoritos label:hover{
    background: rgba(0,0,0,0.2);
}

.comunicacion #filtrarFavoritos input{
    display: none;
}

.comunicacion .listadoMensajesDestacados{
    padding: 0;
}

.comunicacion .mensajeDestacado{
    border-bottom: 0.5px solid lightslategray;
}

.comunicacion .mensajeDestacado .contenidoMensajeDestacado{
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.comunicacion .mensajeDestacado .contenidoMensajeDestacado .cabeceraDestacado{
    display: grid;
    grid-template-columns: 25px 1fr 80px;
    align-items: center;
    grid-gap: 10px;
}

.comunicacion .mensajeDestacado .contenidoMensajeDestacado .cabeceraDestacado img{
    width: 100%;
    height: 30px;
    border-radius: 50%;
}

.comunicacion .mensajeDestacado .contenidoMensajeDestacado .cabeceraDestacado p{
    margin-bottom: 0;
    font-size: 10px;
}

.comunicacion .mensajeDestacado .contenidoMensajeDestacado .cabeceraDestacado span{
    display: block;
    text-align: right;
    font-size: 10px;
}

.comunicacion .mensajeDestacado .contenidoMensajeDestacado .mensaje{
    width: calc(100% - 80px);
    margin-left: 35px;
    background-color: #0f97a9;
    border-radius: 20px;
    padding: 10px 15px;
    word-break: break-all;
    position: relative;
}

.comunicacion .mensajeDestacado .contenidoMensajeDestacado .mensaje.mio{
    background-color: #f5f5f5;
    color: black;
}

.comunicacion .mensajeDestacado .contenidoMensajeDestacado .mensaje img{
    width: 50%;
    margin-left: 25%;
}