/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/11/2020, 01:35:11 PM
    Author     : global
*/

.reportejornadaslaborales .opciones_tabs_jornadas_laborales{
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
}

.reportejornadaslaborales .opciones_tabs_jornadas_laborales li{
    text-align: center;
    width: 50%;
    padding: 10px;
    border-radius: 50px;
}

.reportejornadaslaborales .opciones_tabs_jornadas_laborales li.active{
    background-color: lightsteelblue;
}

.reportejornadaslaborales .opciones_tabs_jornadas_laborales li a{
    color: currentcolor;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 10px 30%;
}

.reportejornadaslaborales .rectangleVacio2{
    width:10px; 
    height:20px; 
    background:#9c9c9c; 
    margin-left: 2px; 
    float:left; 
}
.reportejornadaslaborales .rectangleColor1{ 
    width:10px; 
    height:20px;
    background: #E23F20;
    margin-left: 2px;
    float:left;
}

.reportejornadaslaborales .rectangleColor2{ 
    width:10px; 
    height:20px;
    background: #F8B133;
    margin-left: 2px;
    float:left;
}

.reportejornadaslaborales .rectangleColor3{ 
    width:10px; 
    height:20px;
    background: #8E9351;
    margin-left: 2px;
    float:left;
}

.reportejornadaslaborales #calendarioRendimientoMensual .puntuales a {
    background-color: #8E9351 !important;
    color: white !important;
}

.reportejornadaslaborales #calendarioRendimientoMensual .retardos a {
    background-color: #F8B135 !important;
    color: white !important;
}

.reportejornadaslaborales #calendarioRendimientoMensual .faltas a {
    background-color: #B53018 !important;
    color: white !important;
}

.reportejornadaslaborales #calendarioRendimientoMensual .vacaciones a {
    background-color: #9C9C9C !important;
    color: white !important;
}

.reportejornadaslaborales #reporteEmpleadoJornadasLaborales #labelOverlay {
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 25px);
    text-align: center;
    cursor: default;
}

.reportejornadaslaborales #reporteEmpleadoJornadasLaborales #labelOverlay strong {
    line-height: 1;
    font-size: 8pt;
    color: #495057;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.reportejornadaslaborales #reporteEmpleadoJornadasLaborales #labelOverlay p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
}
.reportejornadaslaborales #reporteEmpleadoJornadasLaborales #labelOverlay span {
    line-height: 1;
    font-size: 19pt;
    color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.reportejornadaslaborales .ui-datepicker-header {
    width: 100%;
    border-radius: 0px !important;
    background-color: #F5F5F5 !important;
    background: #F5F5F5 !important;
    border: none !important;        
}
.reportejornadaslaborales .ui-datepicker {
    width: 100%;
    /*font-family: 'Jaldi', sans-serif !important;*/
    border: none !important;
    background: #F5F5F5;    
}
.reportejornadaslaborales .datepicker table tr td,
.reportejornadaslaborales .datepicker table tr th{
    padding: 2px 0px;
    font-weight: bold;
}
.reportejornadaslaborales .datepicker table tr td a,
.reportejornadaslaborales .datepicker table tr th a{
    text-align: center;
    width: 32px; 
    height: 22px;
    border-radius: 0px !important; 
    border: none !important;
    /*color: #000; */
    cursor: pointer !important;
    font-size: 130%;    
    color: #565656;
}

.reportejornadaslaborales .datepicker table thead tr th span{
    font-size: 130%;
    font-weight: bold;
    color: #565656;
}

.reportejornadaslaborales .datepicker table thead{
    border-bottom: 1px solid black;
}