/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/04/2020, 01:07:28 AM
    Author     : moises
*/
h1,h2{
    font: 1rem Arial;
    margin: 5px;
    height: 3%;
}
#busqueda{
    width: 80%;
    padding: 5px;
    margin: 5px;
    margin-left: 10%;
}
#buscar{
    width: 150px;
    margin: 5px;
    margin-left: calc(50% - 75px);
    border-radius: 15px;
}
aside hr{
    border-top: 1px solid white;
}
.filtro{
    background: no-repeat;
    color: white;
    border-radius: 15px;
    height: 2rem;
    font: 1rem Arial;
    margin: 0;
    margin-top: 10px;
}
.border{

}
.stats{
    font: bolder 2.5rem Arial;
    padding: 10px;
    text-align: center;
    display: block;
}
.stats_label{
    font: bold 0.9rem Arial;
    text-align: center;
    display: block;
}
.barra{
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: #40474f;
    margin: 0;
}
.contenido_ficha{
    position: absolute;
    top: 70px;
    width: 100%;
    height: calc(100% - 60px);
}
.ficha{
    border: solid 1px white;
    border-radius: 15px;
    margin: auto;
    height: 85%;
    overflow: scroll;
}
.ficha h1{
    font: bold 1.4rem Arial;
    margin-top: 20px;
}
.ficha label{
    width: 100%;
}
.ficha input{
    border: solid 1px #797d82;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    color: white;
    background: #36393c;
}
.conteo{
    height: 80px;
    background: #40474f;
    position: absolute;
    left: 1%;
    top: 5px;
    width: 98%;
    display: flex;
    align-content: center;
}
.titulo{
    font:bold 25px Arial;
    width: 100%;
    text-align: center;
}
.informacion{
    position: absolute;
    top: 90px;
    width: 98%;
    background: #40474f;
    left: 1%;
    height: calc(100% - 100px);
}
.botones{
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
    left: 0;
}


.label_institucion{
    font: bold 1rem Arial;
    overflow: hidden;
}
.label_fecha{
    font: normal 0.8rem Arial;
    padding: 0;
    padding-right: 3px;
}
.label_hora{
    font: normal 0.8rem Arial;
    padding: 0;
    padding-right: 3px;
}
.Enviada, .estado_referencia_1{
    height: 70px;
    background: #fe8201;
    cursor: pointer;
    border-bottom: solid 1px black;
}
.Cancelada, .estado_referencia_4{
    height: 70px;
    background: gray;
    cursor: pointer;
    border-bottom: solid 1px black;
}
.RechazadaUTC-19, .estado_referencia_3{
    height: 70px;
    background: gray;
    cursor: pointer;
    border-bottom: solid 1px black;
}
.AceptadaporUTC-19, .estado_referencia_2{
    height: 70px;
    background: #0097a9;
    cursor: pointer;
    border-bottom: solid 1px black;
}
.AceptadaporCRUM, .estado_referencia_5{
    height: 70px;
    background: #82de55;
    cursor: pointer;
    border-bottom: solid 1px black;
}
.RechazadaporCRUM{
    height: 70px;
    background: gray;
    cursor: pointer;
    border-bottom: solid 1px black;
}
.AceptadaporSUCRE{
    height: 70px;
    background: #82de55;
    cursor: pointer;
    border-bottom: solid 1px black;
}
.RechazadaporSUCRE{
    height: 70px;
    background: gray;
    cursor: pointer;
    border-bottom: solid 1px black;
}
.IngresadoenUTC-19, .estado_referencia_7{
    height: 70px;
    background: #ffc107;
    cursor: pointer;
    border-bottom: solid 1px black;
}
.NoingresoenUTC-19{
    height: 70px;
    background: gray;
    cursor: pointer;
    border-bottom: solid 1px black;
}
.Entraslado, .estado_referencia_6{
    height: 70px;
    background: #3085d6;
    cursor: pointer;
    border-bottom: solid 1px black;
}
.EntrasladoSUCRE{
    height: 70px;
    background: #3085d6;
    cursor: pointer;
    border-bottom: solid 1px black;
}
.DadodeAltaporUTC-19, .estado_referencia_8{
    height: 70px;
    background: #138837;
    cursor: pointer;
    border-bottom: solid 1px black;
}
.Contrarreferencia{
    height: 70px;
    background: #bb6262;
    cursor: pointer;
    border-bottom: solid 1px black;
}
.boton{
    /*width: 150px;*/
    width: 190px;
    margin: 5px;
    border-radius: 15px;
    height: 30px;
    text-align: center;
    display: block;
}
.borderR{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.BEnviada, .B1{
    border:solid 1px #fe8201;
}
.BCancelada, .B4{
    border:solid 1px gray;
}
.BRechazadaUTC-19, .B3{
    border:solid 1px gray;
}
.BAceptadaporUTC-19, .B2{
    border:solid 1px #0097a9;
}
.BAceptadaporCRUM, .B5{
    border:solid 1px #82de55;
}
.BRechazadaporCRUM{
    border:solid 1px gray;
}
.BAceptadaporSUCRE{
    border:solid 1px #82de55;
}
.BRechazadaporSUCRE{
    border:solid 1px gray;
}
.BIngresadoenUTC-19, .B7{
    border:solid 1px #ffc107;
}
.BNoingresoenUTC-19{
    border:solid 1px gray;
}
.BEntraslado, .B6{
    border:solid 1px #3085d6;
}
.BEntrasladoSUCRE{
    border:solid 1px #3085d6;
}
.BDadodeAltaporUTC-19, .B8{
    border:solid 1px #138837;
}
.BContrarreferencia{
    border:solid 1px #bb6262;
}
.BGEnviada, .BG1{
    background:  #fe8201;
}
.BGCancelada, .BG4{
    background:  gray;
}
.BGRechazadaUTC-19, .BG3{
    background:  gray;
}
.BGAceptadaporUTC-19, .BG2{
    background: #0097a9;
}
.BGAceptadaporCRUM, .BGAceptadaporSUCRE, .BG5{
    background: #82de55;
}
.BGRechazadaporCRUM{
    background: gray;
}

.BGRechazadaporSUCRE{
    background: gray;
}
.BGIngresadoenUTC-19{
    background:  #ffc107;
}
.BG7{
    background:  #ffc107;
}
.BGNoingresoenUTC-19{
    background:  gray;
}
.BGEntraslado, .BGEntrasladoSUCRE, .BG6{
    background:  #3085d6;
}

.BGDadodeAltaporUTC-19, .BG8{
    background:  #138837;
}
.BGContrarreferencia{
    background:  #bb6262;
}

.TEnviada, .T1{
    color: #fe8201;
    font: bold 12px Arial;
    display: flex;
    align-items: center;
}
.TCancelada, .T4{
    color: gray;
    font: bold 12px Arial;
    display: flex;
    align-items: center;
}
.TRechazadaUTC-19, .T3{
    color: gray;
    font: bold 12px Arial;
    display: flex;
    align-items: center;
}
.TAceptadaporUTC-19, .T2{
    color: #0097a9;
    font: bold 12px Arial;
    display: flex;
    align-items: center;
}
.TAceptadaporCRUM, .T5{
    color: #82de55;
    font: bold 12px Arial;
    display: flex;
    align-items: center;
}
.TRechazadaporCRUM{
    color: gray;
    font: bold 12px Arial;
    display: flex;
    align-items: center;
}
.TAceptadaporSUCRE{
    color: #82de55;
    font: bold 12px Arial;
    display: flex;
    align-items: center;
}
.TRechazadaporSUCRE{
    color: gray;
    font: bold 12px Arial;
    display: flex;
    align-items: center;
}
.TIngresadoenUTC-19, .T7{
    color: #ffc107;
    font: bold 12px Arial;
    display: flex;
    align-items: center;
}
.TNoingresoenUTC-19{
    color: gray;
    font: bold 12px Arial;
    display: flex;
    align-items: center;
}
.TEntraslado, .T6{
    color: #3085d6;
    font: bold 12px Arial;
    display: flex;
    align-items: center;
}
.TEntrasladoSUCRE{
    color: #3085d6;
    font: bold 12px Arial;
    display: flex;
    align-items: center;
}
.TDadodeAltaporUTC-19, .T8{
    color: #138837;
    font: bold 12px Arial;
    display: flex;
    align-items: center;
}
.TContrarreferencia{
    color: #bb6262;
    font: bold 12px Arial;
    display: flex;
    align-items: center;
}
.Tnormal{
    color: white;
    font:12px Arial;
    display: flex;
    align-items: center;
}

