/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/10/2018, 09:30:24 AM
    Author     : Dell Vostro
*/
.card {
    border: none;
    background: none;
}
.card-header {
    /*background-image: url("../images/textura.png");*/
    background-color: #dfe0e1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #242935;

}
.card-headermenus {
    background-color: #0097a9;
    color: white;
    font-size: 10px;


}
.card-headerseparador {
    background-color: #0097a9;
    color: white;
    font: bold 12px Arial;
    width: 100%;
    height: 30px;
    justify-content: left;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: solid 2px #313131;


}
.card-headertitle {
    background-color: #40474f;
    color: white;
    height: 2.5vh;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 13px Arial;

}
.card-footer{
    background-color: #242935;
    padding: 0px;
}
.card-body {
    /*background-image: url("../images/fondo.png");*/
    background-color: #929799;
    /*border-radius:15px;*/
    color: white;
    padding: 0.7rem;
    border: solid 1px gray;
    max-height: calc(100%);
}
.card-body2 {
    /*background-image: url("../images/fondo.png");*/
    background-color: rgba(210, 214, 219,.7);
    border-radius:15px;
    color: white;
    padding: 0.7rem;
    max-width: 95%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    margin-bottom: 20px;

}
titulomenu{
    background-color: #dfe0e1;
    border-radius: 15px;
    border-color: transparent;
    color: #242935;
}

.menubody{
    background-color: #51565a;
    color: white;
    padding: 0.7rem;
    /*background-color: rgba(108, 111, 115,.6);*/
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 5px;
}
.menudependencia{
    background-color: #525657;
    color: white;
    padding: 0.7rem;
}
.form-group{
    margin-bottom: 8px;
    font-weight: bold;
}
.centrado{
    margin-top: 20px;
}

.linkbut{
    color:#242935;

}
img-fotografia{
    max-width: 90%;
}
seleccion{
    padding: 5px;
    font-size: 12px;
    font-style: oblique;
    margin-left: -60px;

}

/*#map{
    top:10%;
    height: 80%;
    width: 97%;
    margin: 1.5%; 
}
div.Mapa{
    border: 2px;
    position:absolute;
    margin-top: 1.5%;
    left:32%;
    height: 69%;
    width: 30%;
    display: block;
    border-radius: 3px;
}*/

/*#videos {
    width: 100%;
    height: 100%;
    position: relative;
}
#subscriber {
    position: relative;
    width: 100%;
    height: 85%;
    z-index: 10;
    border: 3px solid white;
    border-radius: 3px;
}*/
#waitingbar {
    /*position: absolute;
    left: 68%;
    top:0%;*/
    width: 100%;
    height: 100%;
    z-index: 10;
    border: 3px solid white;
    border-radius: 3px;
}
/*
#publisher {
    position: relative;
    width: 100%;
    /*border: 2px solid white;*/
/*height: 18%;
bottom: 3px;
left: 0px;
z-index: 50;
border-radius: 5px;
opacity: 0.3;
}*/

#videos {
    position: relative;
    width: 100%;
    height: 100%;
    border: solid 1px #798289;
    border-radius: 5px;
    background-color: black;
}
#subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#publishers {
    position: absolute;
    width: 100% !important;
    height: 15% !important;
    bottom: 0px;
    left: 0px;
    border: 1px solid #798289;
    border-radius: 0px;
    background: #1f1f1f;
    opacity: 0.3;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
    overflow:scroll;
}
#publisher {
    position: absolute;
    width: 10% !important;
    height: 10% !important;
    bottom: 0px;
    left: 0px;
    border: 1px solid #798289;
    border-radius: 0px;
    background: #1f1f1f;
    opacity: 0.3;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
    z-index: 101;
}
#publisher:hover{
    width: 15% !important;
    height: 15% !important;
    border: 2px solid white;
    bottom: 10px;
    left: 10px;
    border-radius: 10px;
    opacity: 1;
}
.OT_publisher:hover{
    border-radius: 10px;
}
.chat{
    /*position: absolute;   
    left:35%;
    top:78%;
    width: 60%;
    height: 19%;
    border: 3px solid white;
    border-radius: 15px;*/
}
#textchat {
    width: 100%;
    top:0%;
    height: 100%;
}
#eventos{

    width: 49%;
    left: 0%;
}
#history {
    /*width: 100%;*/
    height: calc(100% - 25px);
    overflow: auto;
    color: black;
}
.inputTextChat{
    background: none;
    border: none;
    height: 30px;
    position: absolute;
    width: 98%;
    left: 1%;
    bottom: 1%;
}
input#msgTxt {
    height: auto;
    background: white;
}
#history .mine {
    color: #00FF00;
    text-align: right;
    margin-right: 10px;
}
#history .theirs {
    color: #00FFFF;
    margin-left: 10px;
}
#history .warning {
    color: #ffb09c;
    margin-left: 10px;
}

#Notificaciones{
    padding-top: 10%;
    border: solid white 1px;
    height: 100px;
}
#videollamada{
    width: 15%;
    height: 100%

}


/* responsivo */
@media (max-width: 575px) { 
    #waitingbar {
        /*position: absolute;
        left: 68%;
        top:0%;*/
        width: 100%;
        height: 100%;
        z-index: 10;
        border: 3px solid white;
        border-radius: 3px;

    }
    #subscriber {
        position: relative;
        z-index: 10;
        border: 3px solid white;
        border-radius: 3px;   
        height: calc(100vh - 410px);
    }

    #publisher {
        opacity: 0.3;
    }
    .embed-responsive{
        position: initial;
        display: initial;
        width: 75%;
        height: 70%;
        padding: 0;
        overflow: hidden;
    }
    #tamvideo{
        height: calc(100vh - 316px);
    }


}
@media (min-width: 576px) { 
    #waitingbar {
        /*position: absolute;
        left: 68%;
        top:0%;*/
        width: 100%;
        height: 100%;
        z-index: 10;
        border: 3px solid white;
        border-radius: 3px;

    }
    #subscriber {
        position: relative;
        z-index: 10;
        border: 3px solid white;
        border-radius: 3px;   
        height: calc(100vh - 410px);
    }

    #publisher {
        opacity: 0.3;
    }
    .embed-responsive{
        position: initial;
        display: initial;
        width: 75%;
        height: 70%;
        padding: 0;
        overflow: hidden;
    }
    #tamvideo{
        height: calc(100vh - 340px);
    }


}
@media (min-width: 768px) { 
    #waitingbar {
        /*position: absolute;
        left: 68%;
        top:0%;*/
        width: 100%;
        height: 100%;
        z-index: 10;
        border: 3px solid white;
        border-radius: 3px;

    }
    #subscriber {
        position: relative;
        z-index: 10;
        border: 3px solid white;
        border-radius: 3px;   
        height: calc(100vh - 370px);
    }

    #publisher {
        opacity: 0.3;
    }
    .embed-responsive{
        position: initial;
        display: initial;
        width: 75%;
        height: 70%;
        padding: 0;
        overflow: hidden;
    }
    #tamvideo{
        height:  calc(100vh - 300px);
    }


}
@media (min-width: 992px) { 
    #waitingbar {
        /*position: absolute;
        left: 68%;
        top:0%;*/
        width: 100%;
        /*height: 100%;*/
        height: calc(100vh - 273px);
        z-index: 10;
        border: 3px solid white;
        border-radius: 3px;

    }
    #subscriber {
        position: relative;
        z-index: 10;
        border: 3px solid white;
        border-radius: 3px;  
        height: calc(100vh - 388px);
    }

    #publisher {
        opacity: 0.3;

    }
    .embed-responsive{
        position: initial;
        display: initial;
        width: 75%;
        height: 70%;
        padding: 0;
        overflow: hidden;
    }
    #tamvideo{
        height: calc(100vh - 270px);
    }

}
@media (min-width: 1200px) {
    #subscriber {
        position: relative;
        z-index: 10;
        border: 3px solid white;
        border-radius: 3px;   
        height: calc(100vh - 281px);
    }
    #publisher {
        opacity: 0.3;
    }
    #waitingbar {
        /*position: absolute;
        left: 68%;
        top:0%;*/
        width: 100%;
        height: 100%;
        z-index: 10;
        border: 3px solid white;
        border-radius: 3px;

    }
    #tamvideo{
        height: calc(100vh - 146px);
    }
}
@media (min-width: 1500px) {
    #subscriber {
        position: relative;
        z-index: 10;
        border: 3px solid white;
        border-radius: 3px;  
        height: calc(100vh - 299px);
    }
    #publisher {
        opacity: 0.3;
    }
    #waitingbar {
        /*position: absolute;
        left: 68%;
        top:0%;*/
        width: 100%;
        height: 100%;
        z-index: 10;
        border: 3px solid white;
        border-radius: 3px;

    }
    #tamvideo{
        height: calc(100vh - 157px);
    }
}

.ContainerMarcadoresDependencias{
    position: absolute;
    z-index: 1;
    top: 40%;
    opacity: 0.5;
    background-color:rgba(168, 168, 168,0.3);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    height: 50%;
    margin-left: 1%;
}
.ContainerMarcadoresDependencias:hover{
    color:black;
    opacity: 1;
}

.marcadoresDependencias{
    position: absolute;
    z-index: 1;
    top: 50%;
    opacity: 0.5;
    background-color:rgba(168, 168, 168,0.8);
    color: white;
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    height: 40%;
}
.marcadoresDependencias:hover{
    color:black;
    opacity: 1;
}

input[type=checkbox]
{
    /* Doble-tamaño Checkboxes */
    -ms-transform: scale(1.3); /* IE */
    -moz-transform: scale(1.3); /* FF */
    -webkit-transform: scale(1.3); /* Safari y Chrome */
    -o-transform: scale(1.3); /* Opera */
    vertical-align: text-top;
    margin-top: 2px;
}

.h-40{
    height: 40%;
}
.h-60{
    height: 60%;
}
.h-33{
    height: 33.3333%;
}
.h-20{
    height: 20%;
}

.grid {
    background: #DDD;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item4-1 {
    width: 25%;
}
.grid-sizer,
.grid-item3-1 {
    width: 33.333333%;
}
.grid-sizer,
.grid-item2-1 {
    width: 50%;
}
.grid-sizer,
.grid-item1-1 {
    width: 100%;
}

.grid-item{
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}
.classdiv {
    --main-bg-color: brown;
}
.classdiv{
    width: 100%;    
    display: block;    
    height: 200px;    
    background-color: var(--main-bg-color);
}

#content_call .GRIDcontainer{
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0 !important;
    top: 0 !important;
    overflow: scroll;
    border: solid 1px white;
    border-radius: 5px;
    background-color: black;
}
.GRIDcontainerOp{
    height: 85%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0%;
    overflow: scroll;
    border: solid 1px white;
    border-radius: 2px;
    background-color: black;
    top: 0;
}

.bloque{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    cursor: pointer;
    height: 100% !important;
    overflow: hidden;
    border: solid 1px #ffffff;
    cursor: grab;

}
.bloque2-1{
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: 50% !important;
}
.bloque3-1{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    height: 50% !important;
}
.bloque4-1{
    position: relative;
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%;
    height: 33.33333% !important;

}
.bloque5-1{
    position: relative;
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%;
    height: 25% !important;
}
.bloquefull{
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    cursor: pointer !important;
    left: 0;
    top: 0;
    z-index: 100;
}
.colgar{
    position: absolute;
    bottom: 5px;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    border-radius: 25px;
    background: red;
    border: none;
    cursor: pointer;
    display: block;
    background: none;
    background-image: url(../Img/Colgar.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0.5) sepia(1) saturate(10000%);
    border: none;
    /*z-index: 1000;*/
}
.colgarPublisher{
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 35%;
    height: 20%;
    z-index: 1;
    cursor: pointer;
    background: none;
    background-image: url(../Img/Colgar.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0.5) sepia(1) saturate(10000%);
    border: none;
}
.activarVideoPublisher{
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 25%;
    height: 25%;
    z-index: 1;
    background: #e0e0e057;
    cursor: pointer;
    display: block;
    background-image: url(../Img/cambiarCamara.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 26% 58%;
    border: none;
    filter: invert(1);
    box-shadow: 0 0 6px 6px #e0e0e057;
}
.cambiarCam{

    position: absolute;
    bottom: 5px;
    width: 45px;
    height: 45px;
    right: 5px;
    border-radius: 4px;
    background: #e0e0e057;
    border: none;
    cursor: pointer;
    display: block;
    background-image: url(../Img/cambiarCamara.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 26% 58%;
    border: none;
    filter: invert(1);
    box-shadow: 0 0 6px 6px #e0e0e057;
    /*z-index: 1000;*/
}
.videoEvent{
    position: absolute;
    height: calc(100% - 45px);
    width: 100%;
    left: 0;
    top: 0;
}
.der{
    position: absolute;
    right: 0;
}

.infowindow-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.contnr {
    width: 300px;
}

.title {
    font: bold 13px Arial;
    text-align: left;
    margin: 2px;
    margin-bottom: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.subtitle {
    font: bold 10px Arial;
    text-align: left;
    margin: 2px;
    margin-bottom: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #40474f;
}

.text {
    font: 10px Arial;
    text-align: left;
    margin-bottom: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #40474f;
    margin: 0;
    position: relative;
    display: inline;
}

.botonllamada {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
}


.infWinServ{
    border-bottom: solid 1px #2f70a8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}
.infWinServText{
    margin: 0;
    padding: 0;
    display: inline-flex;
    position: relative;
    letter-spacing: 0px;
    font: bold 12px Arial;
    color: #2f70a8;
}
.swalInput:focus{
    background:none;
    box-shadow:none !important;
    border:none !important;
    border-bottom: solid 2px white !important;
    border-radius: 0;
}
.swal2-inputTxtA:focus{
    box-shadow:none !important;
    border: none !important;
    border-radius: 0;
    display:block !important;
}

#side1{
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    padding: 0;

}
#side2{
    position: absolute;
    height: 100%;
    width: 60%;
    right: 0;
    padding: 0;
    padding-left: 0.5rem;
    transition: 0.3s;
}
.side1Map{
    height: 60%;
    position: absolute;
    top: 0;
}

.side1Chat{
    height: 40%;
    position: absolute;
    bottom: 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media 
only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
}

/* Smartphones (landscape) ----------- */
@media 
only screen 
and (min-width : 321px) {
    #side1{

    }
    #side2{
    }
    .side1Map{
    }

    .side1Chat{
    }

}
@media 
only screen 
and (min-width : 300px) 
and (orientation : portrait) {
    #side1{
        width: 100%;
    }
    #side2{
        width: 100%;
        padding: 0 0 0 0;
        height: 75%;
    }
    .side1Map{
        height: 91%;
        top: 101%;
    }

    .side1Chat{
        height: 24%;
        top: 76%;
        width: 100%;
    }
}


@media 
only screen 
and (max-width : 480px) {
    #side1{

    }
    #side2{

    }

    .side1Map{
    }

    .side1Chat{
    }
}
@media 
only screen 
and (min-width : 480px) 
and (orientation : portrait) {
    #side1{

    }
    #side2{

    }
    .side1Map{
    }

    .side1Chat{
    }

}
@media 
only screen 
and (max-width : 768px) {
    #side1{

    }
    #side2{

    }
    .side1Map{
    }

    .side1Chat{
    }


}
@media 
only screen 
and (max-width : 768px) 
and (orientation : landscape) {
    #side1{

    }
    #side2{

    }
    .side1Map{
    }

    .side1Chat{
    }
}

/* iPads (portrait and landscape) ----------- */
@media 
only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    #side1{

    }
    #side2{

    }
    .side1Map{
    }

    .side1Chat{
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {}
/* Desktops and laptops ----------- */
@media 
only screen  
and (min-width : 1224px) {
    #side1{

    }
    #side2{

    }
    .side1Map{
    }

    .side1Chat{
    }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-width: 1024px) 
and (max-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 1.5) {
    #side1{

    }
    #side2{

    }
    .side1Map{
    }

    .side1Chat{
    }
}

/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {}
/* Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {}

/* Large screens ----------- */
@media 
only screen  
and (min-width : 1824px) {
    #side1{

    }
    #side2{

    }
    .side1Map{
    }

    .side1Chat{
    }
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {}
/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){}
/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){}
/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){}
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){}
/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){}
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){}
/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){}
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){}
/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){}
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){}
/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){}
/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){}