/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/12/2020, 03:10:31 AM
    Author     : moises
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/11/2020, 10:31:42 AM
    Author     : moises
*/

.monitoreodeempleados .option__image {
    width: 60px;
    border-radius: 10px;
}
.monitoreodeempleados .option__title {
    font: bold 1rem Arial;
    padding: 10px;
}


.monitoreodeempleados #frame_monitoreo_empleados {
    width: 100%;
    height: 100%;
    background: #E6EAEA;
}
@media screen and (max-width: 360px) {
.monitoreodeempleados #frame_monitoreo_empleados {
        width: 100%;
        height: 100vh;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos {
    float: left;
    /*min-width: 280px;*/
    max-width: 340px;
    width: 40%;
    height: 100%;
    background: #40474f;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos {
        width: 58px;
        min-width: 58px;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile {
    width: 80%;
    margin: 25px auto;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile {
        width: 100%;
        margin: 0 auto;
        padding: 5px 0 0 0;
        background: #32465a;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile.expanded .wrap {
    height: 210px;
    line-height: initial;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile.expanded .wrap p {
    margin-top: 20px;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile.expanded .wrap i.expand-button {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
    position: relative;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap {
        height: 55px;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap .img {
    width: 50px;
    border-radius: 50%;
    padding: 3px;
    /*border: 2px solid #e74c3c;*/
    height: auto;
    float: left;
    cursor: pointer;
    -moz-transition: 0.3s border ease;
    -o-transition: 0.3s border ease;
    -webkit-transition: 0.3s border ease;
    transition: 0.3s border ease;
    width: 46px;
    height: 46px;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap .cont-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap .img {
        width: 40px;
        margin-left: 4px;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap .cont-img.online {
    border: 2px solid #2ecc71;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap .cont-img.away {
    border: 2px solid #f1c40f;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap .cont-img.busy {
    border: 2px solid #e74c3c;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap .cont-img.offline {
    border: 2px solid #95a5a6;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap p {
    float: left;
    margin-left: 15px;
    width: calc(100% - 60px);
    right: 0;
    float: right;
    position: absolute;
    margin: 0;
    top: 13px;
    font: bold 1rem Arial;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap p {
        display: none;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap i.expand-button {
    float: right;
    margin-top: 23px;
    font-size: 0.8em;
    cursor: pointer;
    color: #435f7a;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap i.expand-button {
        display: none;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 150px;
    margin: 70px 0 0 0;
    border-radius: 6px;
    z-index: 99;
    line-height: initial;
    background: #435f7a;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options {
        width: 58px;
        margin-top: 57px;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options.active {
    opacity: 1;
    visibility: visible;
    margin: 15px 0 0 0;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options.active {
        margin-top: 62px;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #435f7a;
    margin: -8px 0 0 24px;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options:before {
        margin-left: 23px;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul {
    overflow: hidden;
    border-radius: 6px;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li {
    padding: 15px 0 30px 18px;
    display: block;
    cursor: pointer;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li {
        padding: 15px 0 35px 22px;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li:hover {
    background: #496886;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li span.status-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li span.status-circle {
        width: 14px;
        height: 14px;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li span.status-circle:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    margin: -3px 0 0 -3px;
    background: transparent;
    border-radius: 50%;
    z-index: 0;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li span.status-circle:before {
        height: 18px;
        width: 18px;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li p {
    padding-left: 12px;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li p {
        display: none;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li#status-online span.status-circle {
    background: #2ecc71;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
    border: 1px solid #2ecc71;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li#status-away span.status-circle {
    background: #f1c40f;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
    border: 1px solid #f1c40f;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li#status-busy span.status-circle {
    background: #e74c3c;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
    border: 1px solid #e74c3c;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li#status-offline span.status-circle {
    background: #95a5a6;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
    border: 1px solid #95a5a6;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #expanded {
    padding: 100px 0 0 0;
    display: block;
    line-height: initial !important;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #expanded label {
    float: left;
    clear: both;
    margin: 0 8px 5px 0;
    padding: 5px 0;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #expanded input {
    border: none;
    margin-bottom: 6px;
    background: #32465a;
    border-radius: 3px;
    color: #f5f5f5;
    padding: 7px;
    width: calc(100% - 43px);
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #profile .wrap #expanded input:focus {
    outline: none;
    background: #435f7a;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #search {
    border-top: 1px solid #32465a;
    border-bottom: 1px solid #32465a;
    font-weight: 300;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #search {
        display: none;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #search label {
    position: absolute;
    margin: 10px 0 0 20px;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #search input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    padding: 10px 0 10px 46px;
    width: calc(100% - 25px);
    border: none;
    background: #32465a;
    color: #f5f5f5;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #search input:focus {
    outline: none;
    background: #435f7a;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #search input::-webkit-input-placeholder {
    color: #f5f5f5;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #search input::-moz-placeholder {
    color: #f5f5f5;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #search input:-ms-input-placeholder {
    color: #f5f5f5;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #search input:-moz-placeholder {
    color: #f5f5f5;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts {
    height: calc(100% - 177px);
    overflow-y: scroll;
    overflow-x: hidden;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts {
        height: calc(100% - 149px);
        overflow-y: scroll;
        overflow-x: hidden;
    }
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts::-webkit-scrollbar {
        display: none;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts.expanded {
    height: calc(100% - 334px);
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts::-webkit-scrollbar {
    width: 8px;
    background: #2c3e50;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts::-webkit-scrollbar-thumb {
    background-color: #243140;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact {
    position: relative;
    padding: 10px 0 15px 0;
    font-size: 0.9em;
    cursor: pointer;
    list-style: none;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact {
        padding: 6px 0 46px 8px;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact:hover {
    background: #32465a;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact.active {
    background: #32465a;
    border-right: 5px solid #435f7a;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact.active span.contact-status {
    border: 2px solid #32465a !important;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact .wrap {
        width: 100%;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact .wrap span {
    position: absolute;
    left: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    background: #95a5a6;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact .wrap span.online {
    background: #2ecc71;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact .wrap span.away {
    background: #f1c40f;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact .wrap span.busy {
    background: #e74c3c;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact .wrap .img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    height: 40px;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact .wrap .img {
        margin-right: 0px;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact .wrap .meta {
    padding: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact .wrap .meta {
        display: none;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #contacts ul li.contact .wrap .meta .preview span {
    position: initial;
    border-radius: initial;
    background: none;
    border: none;
    padding: 0 2px 0 0;
    margin: 0 0 0 1px;
    opacity: .5;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #bottom-bar button {
    float: left;
    border: none;
    width: 50%;
    padding: 10px 0;
    background: #32465a;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #bottom-bar button {
        float: none;
        width: 100%;
        padding: 15px 0;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #bottom-bar button:focus {
    outline: none;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #bottom-bar button:nth-child(1) {
    border-right: 1px solid #2c3e50;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #bottom-bar button:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid #2c3e50;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #bottom-bar button:hover {
    background: #435f7a;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #bottom-bar button i {
        font-size: 1.3em;
    }
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #bottom-bar button span {
        display: none;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map {
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados .content_map {
        width: calc(100% - 58px);
        min-width: 300px !important;
    }
}
@media screen and (min-width: 900px) {
.monitoreodeempleados #frame_monitoreo_empleados .content_map {
        width: calc(100% - 340px);
    }
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .contact-profile .img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .contact-profile p {
    float: left;
    color: black;
    font: bold 1rem Arial;
    margin: 20px;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .contact-profile .social-media {
    float: right;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .contact-profile .social-media i {
    margin-left: 14px;
    cursor: pointer;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .contact-profile .social-media i:nth-last-child(1) {
    margin-right: 20px;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .contact-profile .social-media i:hover {
    color: #435f7a;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 30px 0 0;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados .content_map .messages {
        max-height: calc(100% - 105px);
    }
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
    padding: 0;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .messages ul li.send .img {
    margin: 6px 8px 0 0;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .messages ul li.send p {
    background: #0f97a9;
    color: #f5f5f5;
    float: left;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .messages ul li.replies .img {
    float: right;
    margin: 6px 0 0 8px;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .messages ul li.replies p {
    background: #f5f5f5;
    float: right;
    color: #434343;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .messages ul li .img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    float: left;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
}
@media screen and (min-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados .content_map .messages ul li p {
        max-width: 300px;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .message-input .wrap {
    position: relative;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .message-input .wrap input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: 100%;
    padding: 11px 32px 10px 8px;
    font-size: 0.8em;
    color: #32465a;
    height: 100%;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados .content_map .message-input .wrap input {
        padding: 15px 32px 16px 8px;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .message-input .wrap input:focus {
    outline: none;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados .content_map .message-input .wrap .attachment {
        margin-top: 17px;
        right: 65px;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .message-input .wrap .attachment:hover {
    opacity: 1;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .message-input .wrap button {
    float: right;
    border: none;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
    border-radius: 0;
}
@media screen and (max-width: 735px) {
.monitoreodeempleados #frame_monitoreo_empleados .content_map .message-input .wrap button {
        padding: 16px 0;
    }
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .message-input .wrap button:hover {
    background: #435f7a;
}
.monitoreodeempleados #frame_monitoreo_empleados .content_map .message-input .wrap button:focus {
    outline: none;
}

.monitoreodeempleados .multiselect__tags {
    max-height: 150px;
    overflow-y: scroll;
    background: none;
    border: none;
    padding: 12px 35px 0 5px;
    padding-left: 35px;
}
.monitoreodeempleados .multiselect__single {
    background: none;
    /* color: #ffffff; */
    font: bold 12px arial;
}
.monitoreodeempleados #frame_monitoreo_empleados #sidepanel_grupos #search input:focus {
    padding: 0;
    margin: 0;
    outline: none;
    background: none;
}
.monitoreodeempleados .option__image {
    width: 45px;
    border-radius: 11px;
}
.monitoreodeempleados .option__title {
    font: bold 1rem Arial;
    padding: 10px;
    color: white;
}
.monitoreodeempleados .multiselect__content-wrapper {
    position: absolute;
    display: block;
    background: #343a40;
    width: 100%;
    max-height: 240px;
    overflow: auto;
    /* border: 1px solid #e8e8e8; */
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
}


.monitoreodeempleados #guardando_documentacion{
    z-index: 9999999;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.monitoreodeempleados #mensaje_guardando_documentacion{
    background-color: white;
    width: 50%;
    padding: 20px 100px;
    text-align: center;
    font-size: 1.3rem;
}

.monitoreodeempleados .contenedor-cargando-chat{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,.5);;
    display: flex;
    justify-content: center;
}

.monitoreodeempleados .contenedor-cargando-chat .spin-cargando-chat{
    
}

.monitoreodeempleados #old_toggle {
    background: #f5f5f5;
    display: flex;
}
.monitoreodeempleados #old_toggle {
    background-color: white;
    color: #5a5a5a;
    font: 16px Arial;
    padding: 17px;
    border-bottom: solid 4px #ff8200;
    margin: 0 !important;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 51px;
    position: relative;
    height: 50px;
    background: white;
    align-items: center;
    text-align: center;
    position: relative;
    display: grid;
    display: flex;
}

.monitoreodeempleados #old_sidebar {
    height: calc( 100% - 50px );
    width: 100%;
    overflow: scroll;
}

.monitoreodeempleados .card-body p .call_individual {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 20%;
    position: absolute;
    right: calc( 2% + 30px);
    top: 0;
}